:root {
  --color-principal-light: beige;
  --color-violet: #a869bbff;
  --color-green: #41b26eff;
  --color-orange: #f5a840ff;
  --color-blue: #a0d8d9ff;
  --color-red: #d56564fa;
}

body {
  width: 100%;
  background-color: var(--color-principal-light);
  margin: 0;
  padding: 0;
}

header {
  margin-top: 15%;
}

.margein {
  margin-left: 5%;
  margin-right: 5%;
}

.editYear {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editYear #actualYear {
  font-size: 5vw;
}

.editYear #actualYear:hover {
  font-size: 20px;
}

.editOtr {
  display: flex;
  align-content: center;
  justify-content: space-between;
}


.iconZodiac {
  width: 10%;
  height: 10%;
}

.containerDays {
  display: grid;
  grid-template-columns: repeat(7, 13.5%);
  grid-template-rows: 0.5fr repeat(5, 1fr);
  width: 100%;
  height: 80vw;
  text-align: center;
  gap: 1%;
}

.nameDays {
  background-color: var(--color-orange);
  color: white;
  font-size: 3vw;
  text-align: center;
  font-weight: bold;
  border-top-left-radius: 20%;
}

.Today {
  /* background-color: var(--color-orange); */
  color: var(--color-principal-light);
  font-weight: bold;
  text-transform: uppercase;
  border-top-left-radius: 20%;
}

.days {
  background-color: var(--color-blue);
  font-size: 2vw;
}

.classicBtn {
  border: none;
  padding: 0 5px 0 5px;
  color: var(--color-red);
  background-color: white;
}
.classicBtn2 {
    border: none;
    color: rgb(101, 62, 128);
    background-color: transparent;
    margin-top: 30vh;

  }
.classicBtn3 {
    margin-right: 60px;

  }
.classicBtn:hover {
  color: var(--color-violet);
}

.classicBtn:active {
  color: var(--color-orange);
}

i {
  font-size: 40px;
}

/*Display footer frase + tareas y botones*/
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 50vw;
}

#divTasks {
  background-color: bisque;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  color: var(--color-principal-light);
  font-size: 3vw;
}

#addTask {
  color: var(--color-principal-light);
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}

.col-left {
  left: 0;
}

.col-right {
  right: 0;
}

.hidden {
  display: none;
}

.containerDivChangeYear {
  height: 550px;
  background-color: var(--color-principal);
  display: grid;
  grid-template-columns: 10% 1fr 10%;
}

.DivChangeYear {
  height: 100%;
  background-color:var(--color-principal);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
 
}

.divNewYear {
  color: white;
  height: 100%;

}

.divNumberYear {
  height: 100%;
  text-align: center;
  font-size: 25px;
  border: solid 1px white;
  text-justify: center;
}
