:root{
    --color-principal: rgb(81, 255, 0);
    --color-secundario: red; 
}


.containerDays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.nameDays{
    background-color: blue;
    height: 30px;
    border: 1px black solid;
    color: white;
}

.days{
    background-color: aqua;
    height: 30px;
    border: 1px black solid;
}

/*Provisional*/
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100px;
}

#frase{
    background-color: bisque;
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.col-left{
    left: 0;
}

.col-right{
    right: 0;
}

#addTask{
    border-radius: 50%;
    background-color: bisque;
    border: 2px solid black;
    font-weight: bold;
}
